archi
=====

1. Fix WARNING 1 and 2
2. vars (Max)DepthStructure computes dynamically the maximal depth of each cathegory (for example Business/Functions). The xsl has to respect it.
3. The real name of the columns, i.e. @name of folders is needed (see RQ 2)
4. Each category  (Actor, Function, ...) should depict the number of groups of their types ... row 110 in matrice_1.xsl
5. cleansing CSS (levels, inhertance, ...) 
6.
